/MusicUploader.Models/bin
/MusicUploader.Models/obj
/MusicUploader.Services/bin
/MusicUploader.Services/obj
/MusicUploader.Data/bin
/MusicUploader.Data/obj
/MusicUploader/bin
/MusicUploader/obj
/packages
