@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TheRedShoko<br />
    Burgas, 8000<br />
    <abbr title="Phone">P:</abbr>
    088 XXX XXXX
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:theredshoko@gmail.com">theredshoko@gmail.com</a>
</address>