@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MusicUploader</h1>
    <p class="lead">MusicUploader is a student project developed by TheRedShoko.</p>
    <a href="https://github.com/TheRedShoko/MusicUploader" class="btn btn-lg btn-success">GitHub repository</a>
</div>